<form [formGroup]="questionForm" (ngSubmit)="onSubmit()">
  <div class="question-container">
    <h2>{{ question.question.text }}</h2>

    <ng-container *ngFor="let option of answerOptions">
      <div class="answer-option">
        <input
          type="radio"
          id="{{ option }}"
          [value]="option"
          formControlName="selectedAnswer"
        />
        <label
          [class.selected]="selectedAnswer === option"
          [class.correct-answer]="formSubmitted && option === correctAnswer"
          [class.incorrect-answer]="
            formSubmitted &&
            selectedAnswer === option &&
            option !== correctAnswer
          "
          for="{{ option }}"
          >{{ option }}</label
        >
      </div>
    </ng-container>
    <button
      class="submit-button"
      type="submit"
      [disabled]="questionForm.invalid"
    >
      {{ formSubmitted ? "Next" : "Submit" }}
    </button>
  </div>
</form>
